<div id="<%= dom_id booking %>">
  <p>
    <strong>User:</strong>
    <%= booking.user_id %>
  </p>

  <p>
    <strong>Car:</strong>
    <%= booking.car_id %>
  </p>

  <p>
    <strong>Starts at:</strong>
    <%= booking.starts_at %>
  </p>

  <p>
    <strong>Ends at:</strong>
    <%= booking.ends_at %>
  </p>

  <p>
    <strong>Accepted:</strong>
    <%= booking.accepted %>
  </p>

</div>
