<turbo-stream action="replace" target="booking_details">
  <template>
    <div class="d-flex flex-column align-items-center justify-content-center text-center mb-2">
      <%= content_tag(:i, ' ', class:"#{car_side_icon} fa-2x ms-4 car_move_animation")%>
      <h4>Well done ! This car is yours !</h4>
      <p><strong>Starts at:</strong> <%= date_format(@booking.starts_at) %></p>
      <p><strong>Ends at:</strong> <%= date_format(@booking.ends_at) %></p>
      <p><strong>Total Price:</strong> <%= @booking.total_price %>€</p>
      <%= link_to 'See my bookings', bookings_path, class: 'btn btn-ghost' %>
    </div>
  </template>
</turbo-stream>
