<div id="<%= dom_id car %>">
  <p>
    <strong>Brand:</strong>
    <%= car.brand %>
  </p>

  <p>
    <strong>Model:</strong>
    <%= car.model %>
  </p>

  <p>
    <strong>Year of production:</strong>
    <%= car.year_of_production %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= car.address %>
  </p>

  <p>
    <strong>Price per day:</strong>
    <%= car.price_per_day %>
  </p>

  <p>
    <strong>User:</strong>
    <%= car.user_id %>
  </p>

</div>
